body{
background-color:#49d2f849;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
margin:0;
padding:0;
}


p,div,h1,h2,h3,h4,h5,h6,ul,li,a{
    margin: 0px;
    padding: 0px;
}


.container{
    width: 1170px;
    margin: 0 auto;
}

.logo{
    width:20%;
    float: left;
    cursor: pointer;

}


.logo img{
    width: 80%;
    height: 90px;
}


.menu{
       width: 80%;
    float: right;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
   width: 20%;
    float: left;
    margin-top: 40px;
    
    text-align: center;
}

.menu ul li a{
      
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: black;
     transition: box-shadow 0.2s ease;
     border-radius: 20px;
     padding: 10px;
}

.menu ul li a:hover{
    color: #0878a5ce;
    box-shadow: 6px 6px 12px rgba(82, 174, 216, 0.6) ;
}

.banner{
    width: 100%;
    float:left;
height:630px;
position:relative;

}
.banner img{
    width:100%;
    height:630px;
    border-radius: 90px;
}
.banner-in{
    width: 100%;
height:630px;
position:absolute;
background-color:rgba(0,0,0,0.5);
top:0;
border-radius: 90px;

}

.form{
width: 25%;
    float: left;
    height: 370px;
    bottom: 30px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 13px;
    
}

.form h3{
    margin: 10px;
    padding: 8px;
    text-align: center;
    color: #a0e918;
text-transform:uppercase;
}


.form input{
    margin: 11px;
   padding: 12px 18px;
    border-radius: 7px;
    border: none;
    margin-left: 25px;
}

form .form-in{
    margin: 0 auto;
    display: table;
}

.form-in input{
    padding: 12px 40px;
}
.form-in input::placeholder{
    text-align: left;
    color:black;
}

.btn{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
cursor:pointer;
    color: #a0f00d;
    background-color: #9bd6ee47;
   
}


.btn:hover{
background-color: antiquewhite;
color: #097aa7ce;
}


.icons{
    width: 100%;
    float: left;
}

.symbol{
    width: 30%;
    float: left;
    margin: 15px;
    padding: 4px;
}

.symbol i{
    font-size: 50px;
    color: rgb(0, 0, 0);
    background-color: #9bd6ee8c;
    padding: 19px 14px;
    border-radius: 50%;
    margin: 10px auto;
    display: table;
        border: 3px solid black;
        cursor: pointer;
        transition: box-shadow 0.2s ease;
}
.symbol i:hover{
box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5) ;

}
.symbol h3{
    text-align: center;
    color:#18616c ;
    text-transform: uppercase;
    word-spacing: 5px;
}

.symbol p{
    width: 100%;
    text-align: center;
    word-spacing: 2px;
}


.banner2{
    width: 100%;
    float:left;
height:520px;
position:relative;

}
.banner2 img{
    width:100%;
    height:520px;
    border-radius: 90px;

}
.banner-in2{
    width: 100%;
height:520px;
position:absolute;
background-color:rgba(0,0,0,0.5);
top:0;
border-radius: 90px;

}

.img1{
    width: 50%;
    float: left;
    
}
.banner-in2 img{
     width: 40%;
    height: 389px;
    margin: 50px auto;
    display: table;
    cursor: pointer;
    --f: 1.15;
    clip-path: insert(0);
    transition: 0.2s;
}

.banner-in2 img:hover{
    clip-path: insert(calc((1-1/var(--f))*20%));
  scale: var(--f);
}

.text{
    width: 40%;
    float: left;
    margin: 70px 5px;
    padding: 74px 5px;
}

.text h3{
        text-align: center;
    color: #a0e918;
    text-transform: uppercase;
    font-size: 20px;
    margin: 12px;
    padding: 7px;
    word-spacing: 10px;
}

.text p{
    color: antiquewhite;
    text-align: justify;
    word-spacing: 3px;
}

.text input{
margin: 20px auto;
    display: table;
    padding: 16px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    color: #a0f00d;
    background-color: #9bd6ee47;
    border: none;
}

.text input:hover{
    background-color: antiquewhite;
color: #097aa7ce;
}


.text2{
    width: 100%;
    float: left;
}

.text2 p{
    margin: 10px;
    padding: 10px;
    text-align: center;

}

.info{
        width: 45%;
    margin: 27px;
    float: left;
    background-color: #9bd6ee47;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.2s linear;
}

.info:hover{
    box-shadow: 6px 6px 12px rgba(0,0,0,0.6);
}
.info h3{
    margin:20px auto;
    display: table;
    color:teal;
}
.info p{
    text-align: center;
    color:#18616c;
}

.form2{
    width: 100%;
    float: left;
}

.form2 h3{
    text-align: center;
    margin: 35px;
    text-transform: uppercase;
    word-spacing: 6px;
    color: #a0e918;
}
.form2 form{
        width: 38%;
    margin: 25px auto;
    display: table;
    padding: 14px;
    background-color: #9bd6ee47;
    border-radius: 20px;

}

.form2 form input{
    margin: 8px;
    padding: 18px;
    border-radius: 10px;
    border: none;
}

.btn3{
   margin: 0px auto;
    display: table;
    padding: 17px 36px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
cursor:pointer;
    color: #a0f00d;
    background-color: #9bd6ee47;
    border: none;
    border-radius: 15px;
    transition: box-shadow 0.2s linear;
}

.btn3:hover{
    background-color: antiquewhite;
color: rgb(31, 117, 156);
box-shadow: 6px 6px 12px rgba(31, 117, 156,0.6);
}

.contact{
    width: 100%;
    float:left;
height:500px;
position:relative;

}
.contact img{
    width:100%;
    height:500px;
    border-radius: 90px;
}
.contact-in{
    width: 100%;
height:500px;
position:absolute;
background-color:rgba(0,0,0,0.5);
top:0;
border-radius: 90px;

}

.footer{
    width:100%;
    float:left;
}

.news{
    width: 50%;
    float: left;
    margin: 40px;
}

.news i{
   font-size: 28px;
    color: red;
}
.news h3{
    color: red;
}
.footer-form{
       width: 20%;
    float: right;
    margin: 40px;

}

.footer-form input{
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.btn4{
   margin: 0px auto;
    display: table;
    padding: 17px 36px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
cursor:pointer;
    color: #0d53f0;
    background-color: #9bd6ee47;
    border: none;
    border-radius: 15px;
    transition: box-shadow 0.2s linear;
}

.btn4:hover{
    background-color: antiquewhite;
color:red;
box-shadow: 6px 6px 12px rgba(255, 0, 0, 0.6);

}

.footer2{
      width: 100%;
    float: left;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.4);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.footer2 h5{
 text-align: center;
    font-size: 18px;
    margin:15px;
}

.t1{
    color: #0d53f0;
}